<!-- chat/templates/chat/index.html -->
{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}



<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 medium-12 cell">
            <h1>WildcatTyper</h1>
            <p>WildcatTyper is a type racer game you can play with friends or bots!</p>
        </div>
        <div class="large-4 medium-4 cell">
            <div class="card-info primary">
                <div class="card-info-content">
                    {% if user.is_authenticated %}
                        <input id="room-name-input" type="text" size="100" ><br>
                        <input class= "button" id="room-name-submit" type="button" value="Enter room">
                        <input class= "button" id="room-name-create" type="button" value="Create New Room">
                        <a href="/chat/add_paragraph/"><p class= "button" id="create-new-paragraph" style = "text-decoration: none;">Create New Paragraph</p></a>
                    {% else %}
                        <p>Please login to race!</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-info primary">
                <div class="card-info-content">
                    <p>LeaderBoards:</p> <br>
                    {% for stat in stat_objects %}
                        <li>{{ stat.player }} on {{ stat.title }} ({{ stat.wpm}}wpm)</li>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="large-8 medium-8 cell">
            <div class="card-info primary" >
                <div class="card-info-content grid-x grid-padding-x" >
                    <p>Instructions</p>
                    <ul>
                        <li>
                            First Login to your account
                            <ul>
                                <li>
                                    If you dont already have an account, click in <strong>Login</strong> at the top right of the page to make one
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="cell large-6 medium-6 card-info primary" >
                        <div class="card-info-content" >
                            <h2>Create a Game</h2>
                            <ul>
                                <li>
                                    To create a game, Press the <strong>Create New Room</strong> button and we will generate a room code you can share with your opponent.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 card-info primary" >
                        <div class="card-info-content" >
                            <h2>Join a Game</h2>
                            <ul>
                                <li>
                                    To Join a game, insert the room code you were given from your opponent in the input box and press the <strong>Enter Room</strong> button
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
                          
                    
      
      

{% endblock %}
{% block scripts %}
{% if user.is_authenticated %}
<script>
   
    
    document.getElementById('room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/room/' + roomName + '/';
    };
    
    document.querySelector('#room-name-create').onclick = function(e) {
        let letters = "0123456789ABCDEF"; 
        let roomCode = ''; 
        for (var i = 0; i < 10; i++){ 
            roomCode += letters[(Math.floor(Math.random() * 16))]; 
        }
        document.querySelector('#room-name-input').value = roomCode;
    };
</script>
{% endif %}
{% endblock %}
