<!-- chat/templates/chat/room.html -->
{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- <link rel="stylesheet" src="{% static "css/room.css" %}"> -->
<style>
    .oppProgressBar{
    background-color:red;
    width:10px;
    height:10px;
    border:1px solid #000;
}
.ownProgressBar{
    background-color:blueviolet;
    width:10px;
    height:10px;
    border:1px solid #000;
}
.cpuProgressBar{
    background-color:green;
    width:10px;
    height:10px;
    border:1px solid #000;
}
</style>
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <br>
    <div id = "progressContainer" ></div>
    <br>
    
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 cell">
                <h1>WildcatTyper</h1>
                <p id = "infoText">WildcatTyper is a type racer game you can play with friends or bots!</p>
            </div>
            <div class="large-4 medium-4 cell">
                <div class="card-info primary">
                    <div class="card-info-content">
                        <p id = "wpm">Choose a Paragraph to type</p>
                    </div>
                    <div class="card-info-content">
                        <p id="chat-log" cols="100" rows="20"><strong>The Paragraph you will be typing will appear here</strong></p>
                            
                    </div>
                </div>
            </div>
            <div class="large-4 medium-4 cell">
                <div class="card-info primary">
                    <div class="card-info-content" id = "buttonContainer">
                        <p>Please select your Paragraph</p>
                        {% if user.is_authenticated %}
                        
                            {% for para in paragraphs %}
                                <input type="radio"  class = "radio" name="paragraphButtons" value="{{ para.title }}" onclick="changeParagraph( {{ para.order }} )" >
                                <label for="{{ para.title }}">{{ para.title }}</label><br>
                            {% endfor %}
                        
                        <br>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="large-8 medium-8 cell">
                <div class="card-info primary" >
                    <div class="card-info-content grid-x grid-padding-x" >
                        <input id="chat-message-input" type="text" size="100"><br>
                        
                    </div>
                    <div class="card-info-content grid-x grid-padding-x" >
                        <button class="button" id = "startButton" onclick = "StartGame()">Start</button>
                        <button class="button" id = "cpuButton" onclick = "addCPU()">Add Bot</button>
                        
                    </div>
                </div>
            </div>
            <div class="large-8 medium-8 cell">
                <div class="card-info primary" >
                    <div class="card-info-content grid-x grid-padding-x" >
                        <p>Finished players will appear here:</p><br>   
                    </div>
                    <div class="card-info-content grid-x grid-padding-x" >
                        <ol id = "finishedList">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    {{ room_name|json_script:"room-name" }}
    
    {{ paragraphs|json_script:"allParagraphs" }}
    {{user.username|json_script:"player" }}
{% endblock %}
{% block scripts %}
<script src="{% static "js/jQuery.js" %}"></script>
<script src="{% static "js/room.js" %}"></script>
{% endblock %}