{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">
              <a href="/">Jonathan Olvera</a>
            </li>
            <li class="menu-text"> 
              <a href="/resume/">Resume</a>
            </li>
            <li class="menu-text">
              <a href="/chat/">Chat</a>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li>
              {% if user.is_authenticated %}
                  Welcome {{ user.username }}
              {% else %}
                  Welcome Guest
              {% endif %}
              <ul class="menu vertical">
                <li>
                  {% if user.is_authenticated %}
                      <a href="/logout/">Logout</a>
                  {% else %}
                      <a href="/registration/login/">Login</a>
                  {% endif %}
                 </li>
              <ul>
            </li>
          </ul>
        </div>
      </div>
    {% block content %}{% endblock %}
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/foundation.js" %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
