{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
      
    

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 cell">
            <div class="card-info primary">
                <div id = "profilePhoto">
                    <img src="{% static "img/compositePhoto.jpg" %}" alt="">
                </div>
            </div>
        </div>
        <div class="large-8 medium-8 cell">
            <div class="card-info primary" id ="canvasBin">
                <div class="card-info-content" id = "canvasCell">
                    <p>Hey if you are here for my CINS-465 Project, click the <strong>Chat</strong>
                     in the nav bar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
                          
                    
      
      

{% endblock %}
{% block scripts %}


{% endblock %}

