{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load static %}
<div class="row">
  <div class="large-2 medium-2 small-2 columns">
    <ul>
      {% for sugg in suggestions %}
        <li>{{ sugg }}</li>
      {% endfor %}
    </ul>
    </div>
    <div class="large-2 medium-2 small-2 columns">
      <img src="{% static "spongebobMeme.jpg" %}" alt="sPonGeBob">
    </div>
</div>


<form action="/" method="post">
{% csrf_token %}
{{ form }}
<input type="submit" class="button" value="Make Spongebob Text"/>
</form>
{% endblock %}
