{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
      
    

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 cell">
            <div class="card-info primary">
                <div id = "profilePhoto">
                    <img src="{% static "img/compositePhoto.jpg" %}" alt="">
                </div>
            </div>
        </div>
        <div class="large-8 medium-8 cell">
            <div class="card-info primary" >
                <div class="card-info-content" id = "resumeCell" >
                    <iframe id = "resumeFrame" src="{% static "files/resumeJonnyOlveraV4.pdf" %}" width = "100%">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
                          
                    
      
      

{% endblock %}
{% block scripts %}
<script src="{% static "js/resume.js" %}"></script>

{% endblock %}

